body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;    
}                

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}
 
#menu a {
    font-size: 12px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 6px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}
 
#menu a:last-child {
    border: none;
}
 
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
 
#menu a.active {
/*     background-color: #164c83; */
    color: #fff;
}

#ei > #menu a.active {
    background-color: #164c83;
}

#ei > #menu a.active:hover {
    background: #0f3357;
}

#rr > #menu a.active {
    background: #168331;
}

#rr > #menu a.active:hover {
    background: #0f5721;
}

#combined > #menu a.active {
    background-color: #3d3329;
}

#combined > #menu a.active:hover {
    background: #0f0d0a;
}
